'menu': [
  {
    'label': 'Packages'
    'submenu': [
      {
        'label': 'Resize Indent'
        'submenu': [
          {
            'label': 'Double size'
            'command': 'resize-indent:double'
          },
          {
            'label': 'Halve size'
            'command': 'resize-indent:halve'
          }
        ]
      }
    ]
  }
]
